/*body {
    padding-bottom: 20px;
}

.navbar {
    background-color: #6b6fff !important;
}

.nav-link, .navbar-brand {
    color: white !important;
}

.navbar a {
    font-size: 20px !important;
    font-weight: 400 !important;
}

.dropdown-menu a {
    font-size: 15px !important;
    font-weight: 400 !important;
}

div, table td, table th, h4, p {
    font-size: 18px !important;
    font-weight: 300 !important;
}

.form-control, .h4, .btn-info {
    font-size: 18px !important;
    font-weight: 300 !important;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.dl-horizontal dt {
    white-space: normal;
}


input,
select,
textarea {
    max-width: 280px;
}

nav-item avatar dropdown > a > img {
    height: 50px;
}*/
