@{
    ViewBag.Title = "About FitApp aplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>Aplicatia este realizata in cadrul programului Wantsome, cursul de .Net Development.</p>
<h3>Motivatia acestei lucrari: </h3>
<p>Aplicatia poate fi folosita de catre antrenori, sau de catre oamenii care vor sa mearga la anuminte ore de sport.  </p>
