@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Wantsome<br />
    Strada Colonel Langa nr. 17, Iași 700065<br />
    Cladirea Centris <br/>
    Site: <a href="https://wantsome.ro/">wantsome.ro</a><br />
    @*<abbr title="Phone">Phone:</abbr>
    425.555.0100*@
</address>

<address>
    <strong>Developed by:</strong>  Monica Danca<br />
    <strong>Support:</strong>   <a href="mailto:Support@example.com">danca_monica@yahoo.com</a><br />
</address>