@{
    ViewBag.Title = "Home Page";
}
@model  List<FitApp.Models.GymClass>


<div>
    Hello from website! <br />

    Number of employees: @Model.Count <br /><br />

    <table style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Max</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var gym in Model)
            {
                <tr>
                    <td>@gym.Name</td>
                    <td>@gym.MaxClients</td>
                </tr>
            }
        </tbody>
    </table>

    <br />

    @Html.ActionLink("New employee", "Add", "Home")
</div>